{#
@BoxalinoRealTimeUserExperienceIntegration/storefront/narrative/component/product/card/action.html.twig
#}
{% block component_product_box_action_inner %}
    {% set id = product.get("id") %}

    {% if shopware.config.core.listing.allowBuyInListing %}
        <div class="product-action">
            {#
                Review the original SW6 template @Storefront/storefront/component/product/card/action.html.twig for adding products to cart
                There is an inherit restriction to have @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity
                For this purpose, we do not offer any template for adding to cart
            #}

            {% block component_product_box_action_detail %}
                <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                   class="btn btn-block btn-light"
                   title="{{ "listing.boxProductDetails"|trans|striptags }}">
                    {{ "listing.boxProductDetails"|trans|sw_sanitize }}
                </a>
            {% endblock %}
        </div>
    {% endif %}

    {% block component_product_box_action_meta %}
        <input type="hidden"
               name="product-name"
               value="{{ product.get("title") }}">

        <input type="hidden"
               name="product-id"
               value="{{ id }}">
    {% endblock %}
{% endblock %}
