{% block component_filter_multi_select_list_item %}
    <div class="form-check">
    {% set id = facet.field ~ "_" ~ element.value %}
        {% set name = element.value %}
        {% block component_filter_multi_select_list_item_checkbox_input %}
            <input type="checkbox"
                   class="form-check-input filter-multi-select-checkbox"
                   data-label="{{ name }}"
                   value="{{ name }}"
                   id="{{ id}}"
                    {% if element.selected %} checked {% endif %}
            >
        {% endblock %}

        {% block component_filter_multi_select_list_item_label_element %}
            <label class="filter-multi-select-item-label form-check-label" for="{{ id }}">
                {% block component_multi_select_list_item_label %}
                    {{ name }} {% if facet.showCounter %}({{ element.hitCount }}) {% endif %}
                {% endblock %}
            </label>
        {% endblock %}
    </div>
{% endblock %}
